.underline {
  background-repeat: repeat-x;
}

.underline--stars {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/78779/star.svg");
  background-position: 0 1.06em;
  background-size: 10px 9px;
  color: #f2f3f8;
}


.underline--bacon {
  background-image: url("file:///C:/Users/xulihang/Pictures/无标题.png");
  background-position:bottom;
  background-size: 16px 8px;

}